#directory {
    width: max-content;
    margin: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid white;
}

#directory a {
    color: gray;
    text-decoration: none;
}

#directory a:hover {
    text-decoration: underline;
}

#scan-files-button {
    background-color: var(--highlight-dark);
    color: white;
    border: 1px solid var(--highlight);
    font-size: 24px;
    padding: 6px 12px;
    cursor: pointer;
    transition: .15s ease;
}

#scan-files-button:hover {
    background-color: var(--background);
    border-color: white;
    color: var(--highlight);
}

#fissc-big {
    position: absolute;
    width: 60%;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .1;
}