.scan-section {
	color: white;
	display: flex;
	flex-direction: column;
	font-family: var(--default-font);
	font-size: 14px;
	background-color: rgb(20, 20, 20);
	border-radius: 4px;
	padding: 8px;
	gap: 5px;
}

.scan-section:not(:last-child) {
	margin-bottom: 40px;
}

.scan-section h4 {
	font-size: 16px;
	text-decoration: underline;
}

#results {
	max-width: 750px;
}

#results .warning {
	color: var(--primary);
}

.snippet {
	display: block;
	padding: 4px 10px;
	margin: 2px 0;
	font-weight: 500;
	background-color: var(--primary-dark);
	color: white;
}

.suggestion {
	color: var(--highlight-light);
}

.suggestion .snippet {
	display: inline;
	padding: 1px 4px;
	font-size: 12px;
	margin: 0;
	background-color: var(--highlight-light);
	color: var(--background);
}

.complexity-red {
	color: var(--primary);
}

.complexity-orange {
	color: var(--code-orange);
}

.complexity-yellow {
	color: var(--code-yellow);
}

.complexity-green {
	color: var(--code-green);
}