.scan-section {
	color: white;
	display: flex;
	flex-direction: column;
	font-family: var(--default-font);
	font-size: 14px;
	gap: 5px;
}

.scan-section:not(:last-child) {
	margin-bottom: 20px;
}

.scan-section h4 {
	font-size: 16px;
	text-decoration: underline;
}

#results .warning {
	color: var(--primary);
}

.snippet {
	display: block;
	padding: 4px 10px;
	margin: 2px 0;
	background-color: var(--primary-dark);
	color: white;
}

.suggestion {
	color: var(--highlight-light);
}